.about-explanation {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  display: center;
  text-align: center;
  background-color: lightgrey;
  margin: 10px auto;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.About-Img {
  height: 500px;
  width: 40%;
}

button {
  flex-direction: column;
  font-size: 22px;
  background-color: violet;
  margin: 23px;
  padding: 1em;
  border-radius: 13px;
  box-shadow: 1px 1px 16px 20px #7111e4;
  display: flex;
  align-self: center;
}
