.about-explanation {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  display: center;
  text-align: center;
  background-color: lightgrey;
  margin: 10px auto;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.About-Img {
  height: 500px;
  width: 40%;
}

button {
  flex-direction: column;
}
